body{
	margin: 0;
	padding: 0;
}
#Header{
	margin: 0;
	padding: 0；
	width:1920px;
	height: 50px;
	background-color: rgb(255,255,255);
}
#headerLeft{
	margin-left: 360px;
	padding: 0;
	display: inline-block;
}
#Logo{
	width:50px;
	height: 50px;
	display: inline-block;
	background-color: rgb(172,172,172);
}
#headerLeft h1{
	font-family: "MicrosoftYaHeu";
	font-weight: bold;
	font-size: 22px;
	color: rgb(54,54,54);
	margin-left: 10px;
	margin-bottom: 14px;
	margin-top: 14px;
	display: inline-block;
	vertical-align: top;
}
#right_green{
	width: 80px;
	height: 50px;
	margin-left: 588px;
	font-family: "MicrosoftYaHeu";
	font-size: 16px;
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
}
#right_green div{
	line-height: 50px;
	overflow:hidden;
    text-align: center;
}
#headerRight{
	width: 280px;
	height: 50px;
	margin-left: 18.94px;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#headerRight div{
	margin: 0px;
	padding: 0px;
	width: 80px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#headerRight div a{
	text-decoration: none;
	font-size: 16px;
	font-family: "MicrosoftYaHeu";
	color: rgb(54,54,54);
    line-height: 50px;
}
#Slider{
	width: 1920px;
	height:150px;
	background:url("../images/banner.jpg");
	position: relative;
}
#Circle{
	margin-left: 360px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 120px;
	height: 120px;
	background-color: rgb(172,172,172);
	display: inline-block;
	border-radius: 50%;	
	border:solid 1px rgb(255,255,255);
}
#Circle + div{
	margin-top: 48px;
	margin-left:40px;
	font-family: "MicrosoftYaHeu";
	color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
}
#Welcome{
	font-size: 22px;
	display: inline-block;
}
#Welcome + img{
	margin-left: 30px;
	display: inline-block;
}
#Edit{
	margin-left: 5px;
	font-size: 14px;
	display: inline-block;
}
#line{
     width: 350px;
     height: 1px;
     background-color: rgb(255,255,255);
     display: inline-block;
     position: absolute;
     bottom: 60px;
     left: 480px;
}
#time{
	font-size: 14px;
    bottom: 30px;
    left: 526px;
	display: inline-block;
	color: rgb(255,255,255);
	position: absolute;
}