@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>青朴课室预约管理首页</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/index.css">
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <div id="Header">
            <div id="headerLeft">
                <span id="Logo"></span>
                <h1>青朴课室预约管理系统</h1>
            </div>
            <div id="right_green"><div>在线预约</div></div>
            <div id="headerRight">
                <div><a href="#">查看预约</a></div>
                <div><a href="#">开放权限</a></div>
                <div><a href="#">我的账户</a></div>
            </div>
        </div>
        <div id="Slider">
            <div id="Circle">
                <img src="~/Content/user_img/@(ViewData["img_id"]).jpg" style="height: 120px;width:120px;border-radius:50%;">
            </div>
            <div>
                <div id="Welcome">你好，@ViewData["user_name"]</div>
                <img src="~/Content/images/banner_edit.png">
                <div id="Edit">编辑资料</div>
            </div>
            <div id="line"></div>
            <!--<div id="time">上次登陆时间：XXXX年XX月XX日&nbspXX：XX：XX</div>-->
            <div id="time">@ViewData["lastlogin_time"]</div>
        </div>
        <div id="Content">
            <div id="Online">
                <div class="Left">
                    <div>在线预约</div>
                    <img src="~/Content/images/card_appointment.png">
                </div>
                <div id="onlineRight">
                    <div class="firstRow">
                        <span></span>
                        <a>单个/批量预约</a>
                    </div>
                    <div class="secondRow">
                        <span></span>
                        <a>取消预约</a>
                    </div>
                </div>
            </div>
            <div id="See">
                <div class="Left">
                    <div id="seeText">查看预约</div>
                    <img src="~/Content/images/card_check.png">
                    <div id="seeRight">
                        <div class="onlyRow">
                            <span></span>
                            <a>审核课室申请</a>
                        </div>
                    </div>
                </div>
                <div id="Give">
                    <div class="Left">
                        <div id="givePower">开放权限</div>
                        <img src="~/Content/images/card_authorize.png" />
                    </div>
                    <div id="giveRight">
                        <div class="firstRow">
                            <span></span>
                            <a>管理教师权限</a>
                        </div>
                        <div class="secondRow">
                            <span></span>
                            <a>管理用户权限</a>
                        </div>
                    </div>
                </div>
                <div id="myAccount">
                    <div class="Left">
                        <div id="accountText">我的账户</div>
                        <img src="~/Content/images/card_account.png">
                    </div>
                    <div id="accountRight">
                        <div class="firstRow">
                            <span></span>
                            <a>管理账户</a>
                        </div>
                        <div class="secondRow">
                            <span></span>
                            <a href="/quit">注销账户</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Footer">
            <div>
                <img src="~/Content/images/copyright.png">
                <a href="http://www.greenhoper.com/">2017&nbsp青朴科技</a>
            </div>
        </div>
    </div>
</body>
</html>