body{
	background: url("../images/background .jpg") no-repeat fixed;
	background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
/*    background-position:center center;*/
}
#content{
	text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    padding-top: 345px;
}
#title{
	margin: 0;
	padding: 0;
}
#title h1{
	margin: 0;
	padding: 0;
	font-family: "MicrosoftYaHei";
	font-weight:"Bold";
	font-size: 35px;
	color: rgb(255,255,255);
}
#login-input-box1{
	margin-top: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 0px;
}
.account{
	width: 50px;
	height: 38px;
	background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-left: 1px solid rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
    border-radius: 5px 0 0 5px;
}
.account_user{
	background-image:url(../images/account.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.line{
    width:25px;
    height:38px;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
}
.line_all{
	background-image:url(../images/line.jpg);
	background-repeat:no-repeat;
	background-position:left center;
}
#login-input-box1 input{
	width: 223px;
	height: 36px;
	background-color: rgba(255,255,255,0.3);
	font-family: "MicrosoftYaHei";
	font-size: 14px; 
	border-right: 1px solid rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
    border-left: 0px;
    border-radius: 0 5px 5px 0px;
    vertical-align: bottom;
}
#login-input-box1 input:focus{
    outline: none;
}
#login-input-box2{
	margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 0px;
}
.password{
	width: 50px;
	height: 38px;
	background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-left: 1px solid rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
    border-radius: 5px 0 0 5px;
}
.password_password{
	background-image:url(../images/password.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.line_small{
    width:25px;
    height:38px;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
}
#login-input-box2 input{
	width: 223px;
	height: 36px;
	background-color: rgba(255,255,255,0.3);
	font-family: "MicrosoftYaHei";
	font-size: 14px; 
	border-right: 1px solid rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
    border-left: 0px;
    border-radius: 0 5px 5px 0px;
    vertical-align: bottom;
}
#login-input-box2 input:focus{
    outline: none;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white!important; opacity:0.6; 
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white!important;;opacity:0.6;
}

input:-ms-input-placeholder{
    color: white!important;;opacity:0.6;
}

input::-webkit-input-placeholder{
    color: white!important;;opacity:0.6;
}
#forget{
	text-align: center;
	width: 100%;
	height: 20px;
}
#forget a{
	margin-left: 224px;
	outline: none;
	font-size: 14px;
	font-family: "MicrosoftYaHei";
	text-decoration:none;
	color: rgba(255,255,255,0.6);
}
#forget a:hover{
   color: rgba(255,255,255,1);
}
#forget a:active{
  color: rgba(255,255,255,1);
}
#input{
    text-align: center;
	margin-top:15px; 
	width:300px;
	height: 40px;
	font-family: "MicrosoftYaHei";
	color: rgb(255,255,255);
	font-size: 14px;
	font-weight: bold;
    border: solid 1px rgb(77,149,137);
    background: #f78d1d;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #5ac4e0, #82cc93);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #5ac4e0, #82cc93);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #5ac4e0, #82cc93);
}
#HowToGet{
	margin-top: 40px; 
}
#HowToGet a{
	outline: none;
	font-size: 14px;
	font-family: "MicrosoftYaHei";
	text-decoration:none;
	color: rgba(255,255,255,0.6);
}
#HowToGet a:hover{
   color: rgba(255,255,255,1);
}
#HowToGet a:active{
  color: rgba(255,255,255,1);
}