body{
	margin: 0;
	padding: 0;
}
#Header{
	margin: 0;
	padding: 0；
	width:100%;
	height: 50px;
	background-color: rgb(255,255,255);
}
#headerLeft{
	margin-left: 360px;
	padding: 0;
	display: inline-block;
}
#Logo{
	width:50px;
	height: 50px;
	display: inline-block;
	background-color: rgb(172,172,172);
}
#headerLeft h1{
	font-family: "MicrosoftYaHeu";
	font-weight: bold;
	font-size: 22px;
	color: rgb(54,54,54);
	margin-left: 10px;
	margin-bottom: 14px;
	margin-top: 14px;
	display: inline-block;
	vertical-align: top;
}
#right_green{
	width: 80px;
	height: 50px;
	margin-left: 588px;
	font-family: "MicrosoftYaHeu";
	font-size: 16px;
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
}
#right_green div{
	line-height: 50px;
	overflow:hidden;
    text-align: center;
}
#headerRight{
	width: 280px;
	height: 50px;
	margin-left: 18.94px;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#headerRight div{
	margin: 0px;
	padding: 0px;
	width: 80px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#headerRight div a{
	text-decoration: none;
	font-size: 16px;
	font-family: "MicrosoftYaHeu";
	color: rgb(54,54,54);
    line-height: 50px;
}
#Slider{
	width: 100%;
	height:150px;
	background:url("../images/banner.jpg");
	position: relative;
}
#Circle{
	margin-left: 360px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 120px;
	height: 120px;
	background-color: rgb(172,172,172);
	display: inline-block;
	border-radius: 50%;	
	border:solid 1px rgb(255,255,255);
}
#Circle + div{
	margin-top: 48px;
	margin-left:40px;
	font-family: "MicrosoftYaHeu";
	color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
}
#Welcome{
	font-size: 22px;
	display: inline-block;
}
#Welcome + img{
	margin-left: 30px;
	display: inline-block;
}
#Edit{
	margin-left: 5px;
	font-size: 14px;
	display: inline-block;
}
#line{
     width: 350px;
     height: 1px;
     background-color: rgb(255,255,255);
     display: inline-block;
     position: absolute;
     bottom: 60px;
     left: 480px;
}
#time{
	font-size: 14px;
    bottom: 30px;
    left: 526px;
	display: inline-block;
	color: rgb(255,255,255);
	position: absolute;
}
#Content{
	margin: 0px;
	padding: 0px;
/*	position: relative;*/
    font-family: "MicrosoftYaHeu"; 
}
#giveAuthority img{
	margin-top: 15px;
	margin-left: 380px;
	display: inline-block;
}
#giveAuthority p{
	margin:15px 0px 0px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align: top;
}
#line2{
	margin: 0px;
	padding: 0px;
}
#line2 img{
	margin: 15px 0px 0px 360px;
}
#Select{
  width:1160px;
  height:51px;
	margin: 15px auto 0px auto; 
  position:relative;
}
#roomAuthority{
    margin:0px;
    padding:0px;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align:top;
}
#userAuthority{
    margin:0px;
    margin-left:25px;
    padding: 0px;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align:top;
}
#Select img{
  position:absolute;
  left:0px;
  bottom:20px;
  display:inline-block;
}
#Search{
  margin:0px;
  padding:0px;
  display:inline-block;
  position:absolute;
  bottom:22px;
  right:0px;
}
#Search input[type="text"]{
    width: 150px;
    height: 25px;
    padding:0px;
    font-family: "MicrosoftYaHei";
    font-size: 14px; 
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    vertical-align: bottom;
}
#Search input[type="button"]{
    width: 50px;
    height: 25px;
    margin-left:15px;
    font-family: "MicrosoftYaHei";
    font-size: 14px;
    color:#ffffff; 
    background-color:#31c978;
    border: 1px solid #31c978;
    border-radius: 5px;
    vertical-align: bottom;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #989898!important;
    text-align:center;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #989898!important;
    text-align:center;
}

input:-ms-input-placeholder{
    color: #989898e!important;
    text-align:center;
}

input::-webkit-input-placeholder{
    color: #989898!important;
    text-align:center;
}
#Table_1{
	width:1160px;
  margin:0px auto 0px auto;
  display:none;
}
.classRoom{
	  font-family: "MicrosoftYaHeu";
	  font-size: 14px; 
	  border: solid 1px #e1e1e1;
	  border-collapse: collapse;
	  text-align: center;
}
#header th{
  width:1160px;
  height: 58px; 
  background-color: #31c978;
  color: #ffffff;
  vertical-align: middle;
  border: solid 1px #e1e1e1;
}
.Building{
  width:1160px;
  height: 38px; 
  background-color: #ffffff;
  color: #363636;
  vertical-align: middle;
  border: solid 1px #e1e1e1;
}
#Table_2{
  width:1160px;
  margin:0px auto 0px auto;


}
#header_2 th{
  width: 580px;
  height: 58px; 
  background-color: #31c978;
  color: #ffffff;
  vertical-align: middle;
  border: solid 1px #e1e1e1;
}
.RoomAuthority{
  width:580px;
  height: 38px; 
  background-color: #ffffff;
  color: #363636;
  vertical-align: middle;
  border: solid 1px #e1e1e1; 
}
.authorityAcross{
  width:580px;
  height: 38px; 
  background-color: #ffffff;
  color: #363636;
  vertical-align: middle;
  border: solid 1px #e1e1e1; 
}
#Table_4{
  width:1160px;
  margin:0px auto 0px auto;
  display:none;
}
#header_4 th[rowspan="2"]{
  width: 560px;
  height: 58px; 
  background-color: #31c978;
  color: #ffffff;
  vertical-align: middle;
  border: solid 1px #e1e1e1;
}
#header_4 th[colspan="3"]{
  width: 560px;
  height: 28px; 
  background-color: #31c978;
  color: #ffffff;
  vertical-align: middle;
  border: solid 1px #e1e1e1;
}
#header_4_2 th{
  width: 560px;
  height: 29px; 
  background-color: #31c978;
  color: #ffffff;
  vertical-align: middle;
  border: solid 1px #e1e1e1;
}
.personName{
  width:560px;
  height: 38px; 
  background-color: #ffffff;
  color: #363636;
  vertical-align: middle;
  border: solid 1px #e1e1e1; 
}
.Across{
  width:200px;
  height: 38px; 
  background-color: #ffffff;
  color: #363636;
  vertical-align: middle;
  border: solid 1px #e1e1e1; 
}
#User{
	margin-top: 15px; 
}
#User img{
	margin: 0px 5px 0px 380px;
	display: inline-block;
}
#User p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align: top;
}
#pageTurning{
  margin:30px auto auto 0;
  padding:0px;
  text-align: center;
}
#Page{
  list-style-type:none;
  font-family:"MicrosoftYaHeiLight";
}
#Page li{
  display:inline-block;
}
#Page li a{
  text-decoration:none;
  color:#363636;
  font-size:14px;
}
#Index{
  display:inline-block;
  margin:0px;
  padding:0px;
}
#prePage{
  display:inline-block;
  margin:0px 16px 0px 16px;
  padding:0px;
}
#one{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#two{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#three{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#four{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#Five{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#More{
  display:inline-block;
  margin:0px 16px 0px 0px;
  padding:0px;
}
#nextPage{
  display:inline-block;
  margin:0px 16px 0px 0px;
  padding:0px;
}
#lastPage{
  display:inline-block;
  margin:0px 22px 0px 0px;
  padding:0px;
}
#buttomSearch{
  display:inline-block;
  margin:0px;
  padding:0px;
}
#buttomSearch span{
  display:inline-block;
  margin:0px;
  padding:0px;
  font-size:14px;
  font-family:"MicrosoftYaHeiLight";
  color:#363636;
}
#buttomSearch span input[type="text"]{
  width:48px;
  height:23px;
  border-radius:5px;
  border:1px solid #e1e1e1;
  display:inline-block;
  margin:0px 5px 0px 5px;
  padding:0px;
}
#buttomSearch span input[type="button"]{
    width: 48px;
    height: 23px;
    margin-left:5px;
    font-family: "MicrosoftYaHei";
    font-size: 14px;
    color:#ffffff; 
    background-color:#31c978;
    border: 1px solid #31c978;
    border-radius: 5px;
    vertical-align: bottom;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #989898!important;
    text-align:center;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #989898!important;
    text-align:center;
}

input:-ms-input-placeholder{
    color: #989898e!important;
    text-align:center;
}

input::-webkit-input-placeholder{
    color: #989898!important;
    text-align:center;
}
#Footer{
	margin-top: 100px;
	height: 50px;
	background-color: rgb(78,78,78);
}
#Footer div{
	text-align: center;
	line-height: 50px;
}
#Footer div img{
	display: inline-block;
    vertical-align: middle;
}
#Footer div a{
	text-decoration: none;
	color: rgb(255,255,255);
	font-size: 14px; 
}

