body{
	margin: 0;
	padding: 0;
}
#Header{
	margin: 0;
	padding: 0ï¼›
	width:100%;
	height: 50px;
	background-color: rgb(255,255,255);
}
#headerLeft{
	margin-left: 360px;
	padding: 0;
	display: inline-block;
}
#Logo{
	width:50px;
	height: 50px;
	display: inline-block;
	background-color: rgb(172,172,172);
}
#headerLeft h1{
	font-family: "MicrosoftYaHei";
	font-weight: bold;
	font-size: 22px;
	color: rgb(54,54,54);
	margin-left: 10px;
	margin-bottom: 14px;
	margin-top: 14px;
	display: inline-block;
	vertical-align: top;
}
#right_green{
	width: 80px;
	height: 50px;
	margin-left: 588px;
	font-family: "MicrosoftYaHei";
	font-size: 16px;
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
}
#right_green div{
	line-height: 50px;
	overflow:hidden;
    text-align: center;
}
#headerRight{
	width: 280px;
	height: 50px;
	margin-left: 18.94px;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#headerRight div{
	margin: 0px;
	padding: 0px;
	width: 80px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#headerRight div a{
	text-decoration: none;
	font-size: 16px;
	font-family: "MicrosoftYaHei";
	color: rgb(54,54,54);
    line-height: 50px;
}
#Slider{
/*	width: 100%;*/
	height:150px;
	background:url("../images/banner.jpg");
	position: relative;
}
#Circle{
	margin-left: 360px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 120px;
	height: 120px;
	background-color: rgb(172,172,172);
	display: inline-block;
	border-radius: 50%;	
	border:solid 1px rgb(255,255,255);
}
#Circle + div{
	margin-top: 48px;
	margin-left:40px;
	font-family: "MicrosoftYaHei";
	color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
}
#Welcome{
	font-size: 22px;
	display: inline-block;
}
#Welcome + img{
	margin-left: 30px;
	display: inline-block;
}
#Edit{
	margin-left: 5px;
	font-size: 14px;
	display: inline-block;
}
#line{
     width: 350px;
     height: 1px;
     background-color: rgb(255,255,255);
     display: inline-block;
     position: absolute;
     bottom: 60px;
     left: 480px;
}
#time{
	font-size: 14px;
    bottom: 30px;
    left: 526px;
	display: inline-block;
	color: rgb(255,255,255);
	position: absolute;
}
#Content{
	margin: 0px;
	padding: 0px;
/*	position: relative;*/
    font-family: "MicrosoftYaHei"; 
}
#giveAuthority img{
	margin-top: 15px;
	margin-left: 380px;
	display: inline-block;
}
#giveAuthority p{
	margin:15px 0px 0px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align: top;
}
#line2{
	margin: 0px;
	padding: 0px;
}
#line2 img{
	margin: 15px 0px 0px 360px;
}
#Select{
  width:1160px;
  height:51px;
	margin: 5px auto 0px auto; 
  position:relative;
}
#Waiting{
    margin:0px;
    padding:0px;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align:top;
    font-family:"MicrosoftYaHei";
}
#Pass{
    margin:0px;
    margin-left:30px;
    padding: 0px;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align:top;
    font-family:"MicrosoftYaHei";
}
#unPass{
    margin:0px;
    margin-left:30px;
    padding: 0px;
    font-size: 16px;
    color: #363636; 
    display: inline-block;
    vertical-align:top;
    font-family:"MicrosoftYaHeiLight";
}
#Select img{
  position:absolute;
  left:0px;
  bottom:20px;
  display:inline-block;
}
#Table_1{
	margin: 0px;
	padding: 0px;
}
#Classroom{
	margin: 0 auto;
	font-family: "MicrosoftYaHei";
	font-size: 14px; 
	border: solid 1px #e1e1e1;
	border-collapse: collapse;
	text-align: center;
}
#header :first-child{
   width: 176px;
   height: 58px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
#header :nth-child(2){
   width: 146px;
   height: 58px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
#header :nth-child(3){
   width: 181px;
   height: 58px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
#header :nth-child(4){
   width: 116px;
   height: 58px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
#header :nth-child(5){
   width: 66px;
   height: 58px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
#header :nth-child(6){
   width: 301px;
   height: 58px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
#header :last-child{
   width: 155px;
   height: 28px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
#header_2 th{
   width: 76px;
   height: 29px;
   background-color: #31c978;
   color: #ffffff;
   vertical-align: middle;
   border: solid 1px #e1e1e1;	
}
.sumbitTime{
   width: 196px;
   height: 39px;
   font-family:"MicrosoftYaHeiLight";
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
.classPlace{
   width: 146px;
   height: 39px;
   font-family:"MicrosoftYaHeiLight";
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
.applyTime{
   width: 181px;
   height: 39px;
   font-family:"MicrosoftYaHeiLight";
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
.Office{
   width: 106px;
   height: 39px;
   font-family:"MicrosoftYaHeiLight";
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
.Applicant{
   width: 66px;
   height: 39px;
   font-family:"MicrosoftYaHeiLight";
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
.Reason{
   width: 301px;
   height: 39px;
   font-family:"MicrosoftYaHeiLight";
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
}
.authorityAcross_0{
	width: 76px;
   height: 39px;
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
   font-family:"MicrosoftYaHeiLight";
}
.authorityAcross_1{
	width: 76px;
   height: 39px;
   background-color: #ffffff;
   color: #363636;
   vertical-align: middle;
   border: solid 1px #e1e1e1;
   font-family:"MicrosoftYaHeiLight";
}
#pageTurning{
  margin:30px auto auto 0;
  padding:0px;
  text-align: center;
}
#Page{
  list-style-type:none;
  font-family:"MicrosoftYaHeiLight";
}
#Page li{
  display:inline-block;
}
#Page li a{
  text-decoration:none;
  color:#363636;
  font-size:14px;
}
#Index{
  display:inline-block;
  margin:0px;
  padding:0px;
}
#prePage{
  display:inline-block;
  margin:0px 16px 0px 16px;
  padding:0px;
}
#one{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#two{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#three{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#four{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#Five{
  display:inline-block;
  margin:0px 10px 0px 0px;
  padding:0px;
}
#More{
  display:inline-block;
  margin:0px 16px 0px 0px;
  padding:0px;
}
#nextPage{
  display:inline-block;
  margin:0px 16px 0px 0px;
  padding:0px;
}
#lastPage{
  display:inline-block;
  margin:0px 22px 0px 0px;
  padding:0px;
}
#buttomSearch{
  display:inline-block;
  margin:0px;
  padding:0px;
}
#buttomSearch span{
  display:inline-block;
  margin:0px;
  padding:0px;
  font-size:14px;
  font-family:"MicrosoftYaHeiLight";
  color:#363636;
}
#buttomSearch span input[type="text"]{
  width:48px;
  height:23px;
  border-radius:5px;
  border:1px solid #e1e1e1;
  display:inline-block;
  margin:0px 5px 0px 5px;
  padding:0px;
}
#buttomSearch span input[type="button"]{
    width: 48px;
    height: 23px;
    margin-left:5px;
    font-family: "MicrosoftYaHei";
    font-size: 14px;
    color:#ffffff; 
    background-color:#31c978;
    border: 1px solid #31c978;
    border-radius: 5px;
    vertical-align: bottom;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #989898!important;
    text-align:center;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #989898!important;
    text-align:center;
}

input:-ms-input-placeholder{
    color: #989898e!important;
    text-align:center;
}

input::-webkit-input-placeholder{
    color: #989898!important;
    text-align:center;
}
#Footer{
	margin-top: 100px;
/*	width: 100%;*/
	height: 50px;
	background-color: rgb(78,78,78);
}
#Footer div{
	text-align: center;
	line-height: 50px;
}
#Footer div img{
	display: inline-block;
    vertical-align: middle;
}
#Footer div a{
	text-decoration: none;
	color: rgb(255,255,255);
	font-size: 14px; 
}

