<!DOCTYPE html>
<html>
<head>
	<title>青朴课室预约管理员开放授权页面</title>
	<link rel="stylesheet" type="text/css" href="CSS/openAuthority.css">
</head>
<body>
	<div>
		<div id="Header">
			<div id="headerLeft">
				<span id="Logo"></span>
				<h1>青朴课室预约管理系统</h1>
			</div>
			<div id="right_green"><div>在线预约</div></div>
			<div id="headerRight">
				<div><a href="#">查看预约</a></div>
				<div><a href="#">开放权限</a></div>
				<div><a href="#">我的账户</a></div>
			</div>
		</div>
		<div id="Slider">
			<div id="Circle"></div>
			<div>
				<div id="Welcome">你好，XXX</div>
				<img src="images/banner_edit.png"></img>
				<div id="Edit">编辑资料</div>
			</div>
			<div id="line"></div>
			<div id="time">上次登陆时间：XXXX年XX月XX日&nbspXX：XX：XX</div>
		</div>
		<div id="Content">
			<div id="giveAuthority">
				<img src="images/icon_authorize.png"></img>
				<p>开放权限</p>
			</div>
			<div id="line2">
				<img src="images/line2.jpg"></img>
			</div>
			<div id="Teacher">
			    <img src="images/title.jpg""></img>
				<p>管理教师权限</p>
			</div>
			<div id="Table_1">
				<table id="Classroom">
					<tbody>
						<tr id="header">
							<th>学校建筑</th>
							<th>教师</th>
							<th>开放/关闭权限</th>
						</tr>
						<tr>
							<td class="Building" rowspan="4">建筑物1</td>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Building" rowspan="4">建筑物2</td>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Building" rowspan="4">建筑物3</td>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Room">XXX</td>
							<td class="authoritySet">
								<input type="checkbox" name="checkbox">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="User">
                <img src="images/title.jpg""></img>
				<p>管理用户权限</p>
			</div>
			<div id="Table_2">
				<table id="userManage">
					<tbody>
						<tr id="header_2">
							<th rowspan="2">用户类别</th>
							<th rowspan="2">姓名</th>
							<th colspan="3">权限等级</th>
						</tr>
						<tr>
						    <th class="Rank">学生</th>
						    <th class="Rank">教师</th>
						    <th class="Rank">管理员</th>
						</tr>
						<tr>
							<td class="Type" rowspan="6">教师</td>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
							<td class="Type" rowspan="6">学生</td>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
						<tr>
							<td class="Name">XXX</td>
							<td class="rankStudent">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankTeacher">
							    <input type="checkbox" name="checkbox">
							</td>
							<td class="rankManager">
							    <input type="checkbox" name="checkbox">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="Footer">
			<div>
				<img src="images/copyright.png">
				<a href="http://www.greenhoper.com/">2017&nbsp青朴科技</a>
			</div>
		</div>
	</div>
</body>
</html>